body {
  text-align: center;
  background-color: #5ba8db;
  margin: 0;
}

.background-name {
  position: relative;
  color: #fddc53;
  font-family: "Dancing Script", cursive;
  text-shadow: 8px 5px black;
  font-size: 15vw;
  margin: 0%;
  width: 100%;
  /* margin-top: 5.7vh; */
  /* opacity: 0.95; */
  /* z-index: -100; */
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  text-shadow: 10px 5px black;
  margin: 4%;
  color: #fef2bf;
}

.container {
  display: block;
  width: 80%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  cursor: pointer;
  border-radius: 20%;
  opacity: 0.7;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

/* dropup instruction */

.dropbtn {
  background-color: rgb(8, 0, 3);
  color: white;
  padding: 16px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-family: "Playfair Display", serif;
  font-size: 25px;
}

.dropup {
  position: relative;
  display: block;
  margin: 0 25% 0 25%;
}

.dropup-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  text-align: left;
  width: 120%;
  font-size: 25px;
  margin-left: -9%;
  /* letter-spacing: 0px; */
  padding: 10px;
  line-height: 37px;
  min-width: 160px;
  bottom: 80px;
  z-index: 1;
}

/* .dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} */

.dropup-content a:hover {
  background-color: #ccc;
}

/* .dropup:hover .dropbtn {
  background-color: #2980b9;
} */

.show {
  display: block;
}

/* css for footer */
footer {
  background-color: black;
  color: white;
  width: 100%;
  clear: both;
  position: relative;
  height: 30px;
  margin: 0%;
  margin-top: 18%;
  padding: 13px 0px;
}

/* css for large tablet */

@media only screen and (min-width: 880px) and (max-width: 1105px) {
  #level-title {
    font-size: 3.7vw;
  }

  .btn {
    margin: 19px;
    height: 180px;
    width: 180px;
  }

  .container {
    margin-top: 0%;
    width: 80%;
    /* background-color: #fddc53; */
  }

  /* css dropup instruction */
  .dropup-content {
    width: 160%;
    overflow-y: auto;
    height: 50vh;
    font-size: 30px;
    margin-left: -31%;
    /* letter-spacing: 0px; */
    line-height: 45px;
  }

  .background-name {
    font-size: 15vw;
    margin: 0% 0%;
    width: 100%;
  }

  /* .dropup {
  margin: 0 25% 0 20%;
} */
  footer {
    margin-top: 56%;
  }
}

/* css for medium tablet screen */

@media only screen and (min-width: 479px) and (max-width: 880px) {
  #level-title {
    font-size: 3.7vw;
    margin: 4% 4% 4% 0%;
  }

  .btn {
    margin: 20px;
    height: 170px;
    width: 170px;
  }

  .container {
    margin: 12% 0% 0% 0%;
    width: 100%;
  }

  /* css dropup instruction */
  .dropup-content {
    width: 165%;
    overflow-y: auto;
    height: 50vh;
    font-size: 27px;
    margin-left: -33%;
    line-height: 38px;
  }

  /* .dropbtn {
  padding: 16px;
  font-size: 4vw;
  } */

  .background-name {
    font-size: 15vw;
    margin: 0% 0%;
    width: 100%;
  }

  .dropup {
    margin: 2% 25% 0% 23%;
  }

  footer {
    margin-top: 34%;
  }
}

/* css for phone */

@media only screen and (max-width: 479px) {
  #level-title {
    font-size: 5.7vw;
    margin: 4% 4% 4% 0%;
    text-shadow: 5px 3px black;
  }

  .btn {
    margin: 16px;
    height: 100px;
    width: 100px;
  }

  .container {
    margin: 12% 0% 0% 0%;
    width: 100%;
  }

  /* css dropup instruction  */
  .dropup-content {
    position: relative;
    top: 10px;
    overflow-y: auto;
    height: 33vh;
    width: 165%;
    font-size: 25px;
    margin-left: -33%;
    line-height: 38px;
  }

  .dropbtn {
    padding: 16px;
    font-size: 4vw;
  }

  .background-name {
    margin: 0% 0%;
    width: 100%;
    text-shadow: 5px 3px black;
  }

  .dropup {
    margin: 2% 25% 0% 23%;
  }

  footer {
    height: 30px;
    margin-top: 68%;
  }
}
